/******************** Start HOME PAGE ********************/
body { 
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,h2,h3,h4,h5,h6 {font-weight: bold;}

/* Start Navbar */
.navbar {
  padding: 0;
  width: 100%;
  z-index: 999;
  background-image: linear-gradient(150deg, #fff 40%, #f27024 45%);
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Pathway Gothic One", sans-serif;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.navbar .navbar-brand img {
  position: relative;
  top: -5px;
  width: 54px;
  height: 64px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.navbar .navbar-brand .brand-paragraph p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.navbar .nav-item {
  margin-left: 20px;
}

.navbar .nav-link {
  border-radius: 20px;
  font-size: 14px;
  color: #fff !important;
  text-transform: uppercase;
  transition: all 0.3s;
}

.navbar .navbar-collapse .active,
.navbar .nav-link:hover {
  background-color: #fb7f37;
  border-radius: 20px;
}
/* End Navbar */

/* Start Header */
.home-header {
  background-image: url(../images/home-header.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 136px;
}

.home-header h3 {line-height: 1.6;}
/* End Header */

/* Start About US */
.about {
  background-color: #efefef;
  padding: 12rem 0;
}

.about .about-us-term {
  background-color: #fff;
  padding: 50px 20px 30px;
  border-radius: 25px;
  height: 320px;
}

.about .about-us-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.about h3 {
  text-align: center;
  margin: 1.5rem 0;
  font-weight: bolder;
}

.about .about-us-content ul {
  padding-left: 20px;
}

.about .about-us-content ul li::marker {
  color: #f27024;
}

.about button {
  background-color: #f27024;
  color: #fff;
  border: 1px solid #f27024;
  text-transform: uppercase;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  padding: 3px 15px;
  transition: all 0.5s;
}

.about button:hover {
  background-color: #fff;
  color: #f27024;
}
/* End About US */

/* Start Our Training */
.our-training {
  position: relative;
}

.triangle-bg {
  background-color: #f27024;
  width: 0;
  height: 0;
  border-bottom: 100px solid #fff;
  border-left: 400px solid #efefef;
  border-right: 400px solid #efefef;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.our-training .our-training-head p {
  border: 0.5px solid #ccc;
  padding: 5px 20px;
}

.our-training .our-training-head-img {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border: 5px solid #efefef;
}

.our-training .our-training-term {
  margin-bottom: 20px;
  padding: 0 20px;
  height: 150px;
}

.our-training .our-training-term h6 {
  color: #f27024;
  margin-bottom: 1.5rem;
}

.our-training .our-training-term p {
  color: #07435b;
}

.our-training .our-training-term button {
  background-color: #fff;
  color: #07435b;
  padding: 2px 15px;
  border: 0.5px solid #07435b;
  transition: all 0.5s;
}

.our-training .our-training-term button:hover {
  cursor: pointer;
  background-color: #07435b;
  color: #fff;
}

.our-training .our-training-term-img,
.our-training .our-training-term-info {
  float: left;
}

.our-training .our-training-term-img {
  width: 25%;
  height: 100%;
  transition: all 0.5s;
  background-repeat: no-repeat;
}

.our-training .img-1 {
  background-image: url(../images/our-training-1.png);
}

.our-training .img-1:hover {
  background-image: url(../images/our-training-hover-1.png);
}

.our-training .img-2 {
  background-image: url(../images/our-training-2.png);
}

.our-training .img-2:hover {
  background-image: url(../images/our-training-hover-2.png);
}

.our-training .img-3 {
  background-image: url(../images/our-training-3.png);
}

.our-training .img-3:hover {
  background-image: url(../images/our-training-hover-3.png);
}

.our-training .img-4 {
  background-image: url(../images/our-training-4.png);
}

.our-training .img-4:hover {
  background-image: url(../images/our-training-hover-4.png);
}

.our-training .our-training-term-info {
  width: 75%;
  padding-left: 15px;
}
/* End Our Training */

/* Start Location */
.location .location-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  background-color: #07435b;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 7px solid #fff;
  position: relative;
  top: 45px;
}

.location .location-icon::before,
.location .location-icon::after {
  content: "";
  width: 200px;
  height: 2px;
  color: #07435b;
  background-color: #07435b;
  position: absolute;
  top: 38px;
}

.location .location-icon::before {
  right: 83px;
}

.location .location-icon::after {
  left: 83px;
}
/* End Location */

/* Start Footer */
footer {
  background-color: #07435b;
  color: #fff;
}

footer .footer-copyright p {
  font-size: 15px;
}

footer .footer-logo img {
  width: 54px;
  height: 64px;
}
/* End Footer */

/* Media Query */
/* Small Screen */
@media (max-width: 768px) {
  p,
  li {
    font-size: 14px !important;
  }

  /* Navbar */
  .navbar .navbar-brand {
    margin-left: 30px;
  }

  /* Header */
  .home-header  h3 {
    font-size: 20px;
  }

  /* About US*/
  .about {
    padding: 6rem 0;
  }

  .about .about-us-term {
    height: 260px;
    margin-bottom: 5rem;
  }

  .about button {
    bottom: 65px;
  }

  /* Our Training */
  .triangle-bg {
    border-left: 150px solid #efefef;
    border-right: 150px solid #efefef;
  }

  .our-training .our-training-term {
    height: 130px;
    margin-bottom: 25px;
  }

  /* Location */
  .location .location-icon::before,
  .location .location-icon::after {
    width: 100px;
  }
}

@media (min-width: 769px) and (max-width: 991px) 
{
  /* Navbar */  
  .navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

  /* About US*/
  .about .about-us-term {
    height: 400px;
  }

  /* Our Training */
  .triangle-bg {
    border-left: 300px solid #efefef;
    border-right: 300px solid #efefef;
  }

  .our-training .our-training-term {
    height: 200px;
    margin-bottom: 40px;
  }
}
/* Medium Screen */
@media (max-width: 991px) {

  /* Navbar */
  .navbar .navbar-collapse {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
  }

  .navbar .nav-item,
  .navbar .active {
    border-radius: 20px;
    font-size: 14px;
    width: 25%;
    margin: 6px auto;
    text-align: center;
    color: #fb7f37 !important;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .navbar .active .nav-link {color: #fff !important;}
  
  .navbar .nav-item:hover {
    background-color: #fb7f37;
    border-radius: 20px;
  }

  .navbar .nav-link {color: #fb7f37 !important;}

  .navbar .nav-link:hover {color: #fff !important;}

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
    margin-right: 15px;
  }
}
/******************** End HOME PAGE ********************/


/******************** Start Services Page ********************/
/* Start Header */
.services-header {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 136px;
}

.services-header .header-logo {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  border: 7px solid #fff;
}

.services-header nav {
  position: absolute;
  bottom: -35%;
  display: flex;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
}

.breadcrumb .breadcrumb-item,
.breadcrumb a {color: #fff !important;}
/* End Header */

/* Start Intro */
.intro {
  background-color: #efefef;
  padding: 6rem 0;
}

.intro .intro-info p {
  color: #07435b;
  margin-bottom: 1.5rem;
}

.intro .intro-info p span {
  color: #f27024;
  font-weight: bold;
}
/* End Intro */

/* Start Services */
.services .nav {
  position: relative;
  top: -25px;
  left: 0;
  width: 100%;
}

.services .nav-item {
  text-align: center;
  float: left;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #efefef;
  transition: all 0.3s;
}

.services .nav-item:hover {
  background-color: #fff !important;
  cursor: pointer;
}

.services .nav-link {
  transition: all 0.3s;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #07435b; 
  padding: 10px;
  border: 3px solid #fff;
}

.services .nav-item:hover .nav-link {color: #f27024;}

.services .nav-item .active {
  background: #fff !important;
  color: #f27024;
}

.services .services-term h6 {margin: 0;}

.services .tab-content {margin: 2rem 0;}

.services .services-info .services-info-main p {
  margin-bottom: 1.5rem;
  color: #07435b;
}

.services .services-info ul {
  padding-left: 0;
  list-style: none;
}

.services .services-info ul li {
  margin-bottom: 15px;
  font-size: 15px;
  color: #07435b;
  transition: all 0.3s;
  cursor: pointer;
}

.services .services-info ul li::before {
  content: "\f0da";
  font-family: "fontAwesome";
  margin-right: 5px;
} 

.services .services-info ul li:hover {color: #f27024;}
/* End Services */


/* Start Footer */
footer {background-color: #07435b; color: #fff;}

footer .footer-copyright p {font-size: 15px;}

footer .footer-logo img {width: 54px; height: 64px;}
/* End Footer */

/* Media Query */
/* Small Screen */
@media (max-width: 768px)
{
  p, li {font-size: 14px !important;}

  /* Intro */
  .intro {padding: 5rem 0;}

  .intro .intro-info h3 {margin-bottom: 1.5rem;}

  /* Services */
  .services .services-term h6 {font-size: 14px;}

  .services .services-course-list {margin-top: 1.5rem;}

  .services .services-course-list h5 {margin-bottom: 1.5rem;}
}

/* Medium Screen */
@media (max-width: 991px) {
  
  /* Services */
  .services .nav {top: 15px;}

  .services .nav-item {
    float: none;
    width: 80%;
    margin: 5px 5%;
  }

  .services .nav-link {border: 1px solid #fff;}

  .services .nav-link:hover,
  .services .nav-item .active {border: 1px solid #f27024;}

  .services .services-info {margin: 3rem 0;}
}

/* Start Global Classes */
.text-blue {
  color: #07435b;
}

.text-orange {
  color: #f27024;
}
/* End Global Classes */
/******************** End Services Page ********************/