/* Start Navbar */
.navbar {
    padding: 0;
    background-image: linear-gradient(150deg, #fff 40%, #f27024 45%);
}

.navbar .navbar-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.navbar .navbar-brand img {width: 54px; height: 64px;}

.navbar .navbar-brand .brand-paragraph p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-item {margin-left: 20px;}

.navbar .nav-link {
    border-radius: 20px;
    font-size: 14px;
    color: #fff !important;
    text-transform: uppercase;
    transition: all 0.3s;
}

.navbar .navbar-collapse .active,
.navbar .nav-link:hover {
    background-color: #fb7f37;
    border-radius: 20px;
}
/* End Navbar */


/* Start Header */
header {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 136px;
}

header .header-logo {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    border: 7px solid #fff;
}

header nav {
    position: absolute;
    bottom: -35%;
    display: flex;
}

.breadcrumb {
    background: none;
    margin-bottom: 0;
}

.breadcrumb .breadcrumb-item,
.breadcrumb a {color: #fff !important;}
/* End Header */


/* Start Intro */
.intro {
    background-color: #efefef;
    padding: 6rem 0;
}

.intro .intro-info p {
    color: #07435b;
    margin-bottom: 1.5rem;
}

.intro .intro-info p span {
    color: #f27024;
    font-weight: bold;
}
/* End Intro */


/* Start Services */
.services .container {position: relative;}

.services .services-terms-container {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
}

.services .services-term {
    text-align: center;
    float: left;
    width: 22%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    background-color: #efefef;
    color: #07435b;
    transition: all 0.3s;
    border: 3px solid #fff;
    padding: 10px;
}

.services .services-term h6 {margin: 0;}

.services .services-terms-container .active,
.services .services-term:hover {
    background-color: #fff;
    color: #f27024;
    cursor: pointer;
}

.services .services-info {
    margin: 3rem 0;
    padding-top: 3rem;
}
.services .services-info .services-info-main p {
    margin-bottom: 1.5rem;
    color: #07435b;
}

.services .services-info ul {
    padding-left: 0;
    list-style: none;
}

.services .services-info ul li {
    margin-bottom: 15px;
    font-size: 15px;
    color: #07435b;
    transition: all 0.3s;
    cursor: pointer;
}

.services .services-info ul li::before {
    content: "\f0da";
    font-family: "fontAwesome";
    margin-right: 5px;
} 

.services .services-info ul li:hover {color: #f27024;}
/* End Services */


/* Start Footer */
footer {background-color: #07435b; color: #fff;}

footer .footer-copyright p {font-size: 15px;}

footer .footer-logo img {width: 54px; height: 64px;}
/* End Footer */

/* Start Global Classes */
.text-blue {color: #07435b}

.text-orange {color: #f27024;}
/* End Global Classes */


/* Media Query */
@media (max-width: 768px)
{
    p, li {font-size: 14px !important;}

    /* Navbar */
    .navbar .navbar-brand {margin-left: 30px;}

    /* Intro */
    .intro {padding: 5rem 0;}

    .intro .intro-info h3 {margin-bottom: 1.5rem;}

    /* Services */
    .services .services-term h6 {font-size: 14px;}

    .services .services-course-list {margin-top: 1.5rem;}

    .services .services-course-list h5 {margin-bottom: 1.5rem;}
}


@media (max-width: 991px)
{
    /* Navbar */
    .navbar .navbar-collapse {
        position: relative;
        left: -30px;
    }

    .navbar .nav-item {text-align: center;}

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}

    .navbar-light .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
}